@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* font-family: "Kaushan Script", serif; */
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  /* This is how we get a full sized fixed centered background image/ */
  background: url("../../Week03/In-class-note/Gallery_Starter_Files/img/bg.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

body {
  /* apply the default font family, all descendent elements will inherit this font we cna always override for other styles further down */
  font-family: "Kaushan Script", serif;
}

/* in general it makes more sense to tell images to always take up the full width of its container and then size the container/frame */
img {
  width: 100%;
  height: auto;
}

/* NAVIGATION */
header {
  width: 100%;
  height: 50px;
  padding: 0 10%;
  background-color: grey;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  /* flex container properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url(./img/crossline-lines.webp);
}

header h1 {
  color: #333;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.1);
}

nav li {
  font-size: 18px;
  width: 120px;
  height: 50px;
  line-height: 50px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
  /* we always define transitions on the base/default state  */
  transition: all 1s linear;
}

nav a:hover {
  background-color: rgba(40, 40, 40, 0.3);
  color: white;
}

nav a.active {
  background-color: black;
  color: white;
}

/* GALLERY */
.container {
  width: 900px;
  margin: 100px auto;

  /* when we use inline block to stack elements we always should zero out the font size on the container element */
  font-size: 0;
}

.polaroid {
  width: 260px;
  margin: 20px;
  display: inline-block;
  /* Whenever you want to absolutely position something inside another elemnt, you should make sure the parent element is positioned relative */
  position: relative;
}

/* descendent selectors */
.polaroid img {
  /* border shorthand is width, style, color */
  border: 10px solid #ccc;
  border-bottom-width: 45px;
}

.polaroid p {
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  width: 260px;
  text-align: center;
  color: #333;
}

/* TRANSFORMS AND TRANSITIONS */

.scaleUp {
  transform: scale(1.2);
  /* z-index:10; */
}

.scaleX {
  transform: scale(2, 1);
}

.scaleY {
  transform: scaleY(2);
}

.skewX {
  transform: skewX(-20deg);
  transform-origin: top;
}

.skewY {
  transform: skewY(-20deg);
}

.skewBoth {
  transform: skew(10deg,40deg);
}

.rotX{
transform: rotateX(180deg);
}

.rotY{
transform: rotateY(180deg);
}

.rotZ{
transform: rotateZ(180deg);
}

.rotateLeft{
  transform:rotate(-20deg);
  transform-origin: bottom right;
  transition:all 1s ease-out;
}

.rotateLeft:hover{
  transform:rotate(20deg);
}

.skewHover{
transform: skewX(30deg);
  transition:all 1s ease-out;
}

.skewHover:hover{
  transform: skewX(-30deg);
  filter:invert();
}

.scaleHover {
  transform:scale(0.8);
  transition:all 1s ease-in;
}

.scaleHover:hover{
  transform:scale(1.2);
  filter: blur(10px);
}

/* Filters */
.colorSwap{
  filter:grayscale(100%);
  transition:all 1s linear;
}

.colorSwap:hover{
  filter:grayscale(0%);
}


